@font-face {
    font-family: 'big-noodle-too-oblique';
    src: url(assets/fonts/big-noodle-too-oblique.woff) format('woff'),
        url(assets/fonts/archivo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'archivo', sans-serif;
}

a{
    font-family: 'archivo', sans-serif;
}


/*HEADER*/
.heeader_pagina_reducida{
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(229, 235, 244, 0.8);
    padding: 15px;
    backdrop-filter: blur(20px);
    z-index: 3;
}

.header_pagina{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 20px;
    z-index: 3;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(229, 235, 244, 0.8);
    backdrop-filter: blur(20px);
    width: 98%;
    border-radius: 10px;

    a{
        padding: 15px;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: background-color 0.2s ease;

        &:hover{
            background-color: rgb(0 0 0 / 5%);
            border-radius: 10px
        }
    }
}

.nav_left{
    display: flex;
    align-items: center;

    a{
        font-size: 1.2rem;
        font-weight: bold;
    }
}

a.logo_overwatch{
    svg{
        width: 45px;
    }
    &:hover{
        background-color: transparent;
        filter: brightness(110%);
    }
    
}

.chevron{
    width: 15px;
}

.logo_blizzard{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    height: 100%;
    padding: 15px 15px 15px 20px;
    border-radius: 10px 0 0 10px;
    svg:first-child{
        color: #00aeff;
        width: 80px;
    }

    svg:nth-child(2){
        width: 15px;
    }
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 10px;


    button{
        font-size: 1rem;
        border: none;
        color: #fff;
        background-color: #e65d0f;
        padding: 15px;
        cursor: pointer;
        border-radius: 10px;

        &:hover{
            filter: brightness(110%);
        }
        
    }  
}

.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85dvh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;

    video{
        position: absolute; 
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;
        filter: brightness(80%);
    }

    img{
        width: 500px;
        z-index: 2;
    
    }
}

.informacion_hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    color: white;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h2{
            font-family: 'big-noodle-too-oblique', sans-serif;
            font-size: 3.8rem;
            font-weight: lighter;
        }

        p{
            font-family: 'archivo', sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
        };
    }

    
        button{
            font-size: 1rem;
            border: none;
            color: #fff;
            background-color: #e65d0f;
            padding: 20px;
            cursor: pointer;
            font-weight: bold;
            transition: transform 0.2s ease-in;

            &:hover{
                transform: scale(1.05);
                filter: brightness(105%);
            }
        }
}

.logos_consolas_reducido{
    display: none;
}

.logos_consolas{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 30px;    
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    svg{
        height: 100%;
        color: #fff;
    }
}

.informacion_juego{
    min-height: 600px;
    height: auto;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/img/2600_Silver_Background.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 40px;

    .contenedor_texto_juego{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
        max-width: 500px;

        h3{
            color: #1d253a;
            font-size: 3.2rem;
            font-weight: bold;
        }

        p{
            color: rgba(29, 37, 58, .8);
            font-size: 1.2rem;
            font-weight: 600; 
            line-height: 1.8rem;
        }
    }

    .contenedor_video_juego{
        width: 100%;
        max-width: 800px;
        height: auto;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }
}

.informacion_actualizacion{
    display: flex;
    width: 100%;
    min-height: 750px;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-image: url(assets/img/2600_S22_Mid_Overview.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;

    .img_actualizacion{
        width: 100%;
        max-width: 800px;
        height: auto;
        aspect-ratio: 16 / 9;
        overflow: hidden;


        img{
            width: 100%;
            border: 0.5px solid #6d6d6d;
            border-radius: 10px;
        }
    }
    .contenedor_texto_informacion_actualizacion{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        max-width: 450px;

        color: white;
        height: auto;

        h3{
            
            font-size: 3.2rem;
        }
        
        p{
            color: hsla(0, 0%, 100%, .9);
            font-size: 1.1rem;
            line-height: 1.7rem;  
            font-weight: 500;
        }

        button{
            align-self: flex-start;
            font-size: 1.1rem;
            font-weight: bold;
            padding: 15px 25px;;
            cursor: pointer;
            transition: all 0.2s ease-in;

            &:hover{
                filter: brightness(110%);
                transform: scale(1.05);

            
            }
        }
    }
}



footer{
    padding: 100px;
    background: radial-gradient(50% 252.84% at 50% 49.94%, #242a42 7.27%, #121524 100%);

    .mi_informacion{
        display: flex;
        align-items: center;
        gap: 20px;
        color: #ffF;
        margin-bottom: 20px;

        p{
            font-size: 1rem;
        }

        svg{
            color: white;
        }
    }

    .derechos_reservados{
        color: #ffffff80;
        margin-top: 20px;
    }
}


@media (width < 1024px){
    .header_pagina{
        display: none;
    }

    .heeader_pagina_reducida{
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg{
            width: 35px;
        }
    }
}

@media (width <= 768px){

    .hero{
        img{
            width: 600px;
        }
        gap: 20px;
        padding: 20px;
    }

    .informacion_hero{
        gap: 20px;
        div{
            h2{
                font-size: 2rem;            
            }
        }
    }

    .logos_consolas_reducido{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        svg{
            height: 100%;
            color: #fff;
        }
    }

    .logos_consolas{
        display: none;
    }

    .informacion_juego{
        flex-direction: column;
        padding: 90px 30px;
        gap: 80px;

        .contenedor_texto_juego{
            max-width: 100%; 
        }
    }

    .informacion_actualizacion{
        flex-direction: column-reverse;
        padding: 90px 30px;

        .contenedor_texto_informacion_actualizacion{
            max-width: 100%;
            text-align: center;
            
            .salto_linea{
                display: none;
            }
            button{
                align-self: center;
            
            }
            
        }
    }

}